* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header > h1 {
  color: salmon;
  font-size: 2rem;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}
.app__right {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1 !important;
}

.app__rightTableTitle {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  
}

.app__rightGraphTitle {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
/* Responsive */
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__right {
    margin-top: 20px;
  }

  .app__rightTableTitle {
    text-align: center;
  }
  .app__rightGraphTitle {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
