.table {
    margin-top: 10px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(even) {
    background-color: #f0f0f0;
}

.table tr:nth-of-type(odd) {
    background-color: #FFF;
}

.table img {
    height: 1.5rem;
    width: 2.5rem;
    border-radius: 5px;
    box-shadow: 0 0 8px -4px rgba(0,0,0, 0.5);   
}